{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h4 class="headings">
        cargo.one for spaceflight
    </h4>
    <br>
    <div class="text_big">
        Want to send a rover to Mars or observe neutron stars from outer space?
        Comparing launch providers is currently a cumbersome and lengthy process.
        Not so anymore! space.one helps you navigate through this dusty mess.
        <br><br>
        Check out upcoming <a href="/launches">launches</a>.
        Compare <a href="/book">prices</a> for different launch providers and book your next cargo flight directly with space.one. Have all your bookings at a <a href="/bookings">glance</a>!
    </div>
    <br>
    <div>
        <img src="/static/milky-way.jpg" alt="image">
    </div>
{% endblock %}